discord>=2.3.2
aiohttp>=3.9.0
async-timeout>=4.0.3
ffmpeg-python
moviepy>=1.0.3
python-shazamio>=0.1.0
Pillow>=10.1.0
opencv-python>=4.8.1.78
pyzbar>=0.9.0
playwright>=1.39.0
shazamio
python-dotenv>=1.0.0
beautifulsoup4>=4.12.2
langdetect>=1.0.9
requests>=2.31.0
numpy==1.26.4
python-magic-bin>=0.4.14
ghapi>=1.0.4
langchain>=0.2.1
langchain-community>=0.2.1
lark>=1.1.9
markdownify>=0.11.1
aiosqlite>=0.10.0
pydub>=0.25.1
ddgs>=2.7.0
readability-lxml>=0.8.1
chromadb>=0.5.0
sentence-transformers>=3.0.0
torch>=2.3.0
python-chess>=1.0.0
pygame>=2.0.0