aiohttp==3.12.15
aiosqlite==0.22.1
beautifulsoup4==4.13.5
chromadb==1.4.0
ddgs==9.14.4
discord.py @ git+https://github.com/Rapptz/discord.py@5d74ed3e0ce5178cf454825bd5a71f0248738f54
discord-ext-voice_recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git@03dd1e2dafe85522cc458441cd5b143b136ac836
langdetect==1.0.9
markdownify==1.2.2
mido==1.3.3
moviepy==2.2.1
numpy==1.26.4
opencv-python>=4.8.1.78
Pillow==10.2.0
playwright==1.55.0
pydub==0.25.1
pygame>=2.0.0
pyzbar==0.1.9
python-chess>=1.0.0
python-dotenv==1.0.1
python-magic-bin==0.4.14
readability-lxml==0.8.4.1
requests==2.32.5
sentence-transformers==5.2.0
shazamio==0.8.1
torch>=2.3.0
trimesh==4.10.0
websockets==14.2
youtube-transcript-api==1.2.4
yt-dlp==2026.3.17